/* Estilizando a barra de rolagem vertical */
*::-webkit-scrollbar {
  width: 8px;
  background-color: white;
  padding:2px;
}


*::-webkit-scrollbar-thumb {
  background-color: #D194CD;
  border-radius: 4px;
}

/* Estilos gerais */
html{
	scroll-behavior:smooth;
}
*{
	margin: 0px;
	padding: 0px;
}
body {
  font-family: Montserrat, sans-serif;
}
.container {
  margin: 0 auto;
  padding: 0 20px;
}
/* Estilos do cabeçalho */
header {
  background-color: #D194CD;
	color: #fff;
	padding: 20px 0;
	width:100%;
}
nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.logo h1 {
	text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
	font-size: 24px;
	text-align:center;
}
nav ul {
	list-style-type: none;
	display: flex;
}
nav ul li {
	margin: 5px 5px 0px 5px;
	text-align:center;
}
nav ul li a {
	color: #fff;
	text-decoration: none;
	text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
	text-align:center;
}
/* Estilos do banner */
#banner {
	background-image: url("banner.png");
	background-position: center center;
	background-size: 100% auto;
	padding: 100px ;
	height:150px;
}
#banner h2 {
	font-size: 36px;
	margin-bottom: 20px;
	text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}
/* Estilos das seções background: linear-gradient(to bottom, #D194CD, #D6CECE);*/
#sobre, #servicos{
	background-color: #D194CD;
	margin:30px 100px;
	border-radius:5px;
	padding:30px;
	color:white;
}
#sobre{
	background: #D6CECE;
}
#sobre h2, #servicos h2, footer h2{
	font-size: 34px;
	margin-bottom: 10px;
}
#sobre p, #servicos p{
	margin-bottom: 20px;
}
#servicos ul {
	list-style-type: disc;
	margin-left: 20px;
}
form {
	margin-top: 10px;
}
label {
	display: block;
	margin-bottom: 5px;
}
input, textarea {
	width: 450px;
	padding: 10px;
	margin-bottom: 10px;
	border: 1px solid #ccc;
	border-radius: 4px;
	height:20px;
	align-items:center;
}
textarea{
	height:100px;
}
button {
	padding: 10px 20px;
	background-color: #555;
	border:none;
	color: #fff;
	border-radius: 4px;
	cursor: pointer;
	margin-bottom:10px;
}
button:hover {
	background-color: #333;
}
/* Estilos do rodapé de contato */
footer {
	background-color: #D6CECE;
	text-align: center;
	border-radius:5px;
	padding:30px;
	margin:30px 100px;
}
footer p {
	padding:5px;
	color: #fff;
	text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}
.contt{
	text-align: center;
	padding:15px;
	background-color: #D194CD;;
}

/* Responsividade */
@media screen and (max-width: 600px) {
  #banner {
    padding: 50px 0;
  }

  #banner h2 {
    font-size: 24px;
  }
  input, textarea {
	  width:100px;
  }
  #sobre, #servicos, footer{
	  margin:20px 40px;
  }

  .cta-button {
    font-size: 14px;
  }
}
